:root {
  --source-sans: 'Source Sans Pro', sans-serif;
  --roboto-mono: 'Roboto Mono', monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 100%;
  min-height: 100%;
}

section {
  display: block;
}

ul {
  list-style: none;
}

/* Header */
#main-header {
  height: 55px;
  width: 100%;
  z-index: 10;
  position: fixed;
  border-bottom: 1px solid #eee;
  display: block;
  background-color: #fff;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-left {
  display: flex;
  flex-direction: row;
}

.nav-list {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.nav-item:first-child a {
  padding-left: 20px;
}

.nav-link {
  font-family: var(--roboto-mono);
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  color: #aaa;
  display: block;
  height: 48px;
  letter-spacing: .04em;
  line-height: 1;
  padding: 18px 10px 0;
  text-decoration: none;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-right: 8px;
  border-left: 1px solid #eee;
}

.tnw_logo {
  display: inline-block;
  width: 125px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
}

.search_logo {
  display: block;
  height: 55px;
  opacity: .25;
  padding: 16px;
  width: 55px;
  will-change: opacity;
}

.header-clock {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.clock-span {
  font-size: 12px;
  margin-right: 10px;
  display: inline-block;
  position: relative;
  top: 1px;
  font-family: var(--roboto-mono);
  font-weight: 500;
  text-transform: uppercase;
  color: #555;
}

.clock-number {
  left: 0;
  top: 1px;
  margin-right: 10px;
  font-family: var(--roboto-mono);
  font-weight: 500;
  font-size: 24px;
  text-transform: uppercase;
  display: inline-block;
  color: #f42;
}

.header-btn {
  background-color: #0cc;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  padding: 0 12px;
  font-size: 11px;
  line-height: 28px;
}

/* Main Site */
#main-site {
  z-index: 1;
}

#hero {
  position: relative;
  top: 55px;
  left: 0;
  padding: 4px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  width: 100%;
  height: 500px;
}

#first-story {
  grid-row: span 2;
}

.hero-story {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 4px;
  position: relative;
}

.hero-story:nth-child(2) .cover-title,
.hero-story:nth-child(3) .cover-title {
  font-size: 28px;
}

.hero-img {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
  opacity: 1;
  z-index: 4;
}

.cover-trigger {
  bottom: 4px;
  left: 4px;
  position: absolute;
  top: 4px;
  right: 4px;
  background: rgba(0, 0, 0, .25) url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png) no-repeat;
  background-size: 100% 100%;
  display: block;
  will-change: background-color;
  z-index: 4;
}

.cover-gradient {
  background: transparent url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/cover-gradient.png) no-repeat;
  background-position: 0 0;
  background-size: cover;
  bottom: 4px;
  left: 4px;
  mix-blend-mode: lighten;
  pointer-events: none;
  position: absolute;
  right: 4px;
  top: 4px;
  z-index: 4;
  width: 100%;
  height: 100%;
}

.hero-logo {
  color: #fff;
  position: absolute;
  right: 24px;
  z-index: 5;
  background: transparent url('https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg') no-repeat;
  background-size: contain;
  left: 24px;
  max-width: 50%;
  height: 100%;
  max-height: 112px;
  line-height: 1;
  top: 24px;
  pointer-events: none;
  text-align: right;
}

.hero-date {
  color: #fff;
  position: absolute;
  right: 24px;
  z-index: 5;
  display: block;
  top: 16px;
}

.hero-header {
  position: absolute;
  bottom: 4px;
  left: 4px;
  padding: 14px 12px;
  z-index: 4;
  color: #fff;
}

.cover-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: hsla(0, 0%, 100%, .6);
  font-size: 13px;
  line-height: 16px;
}

.cover-section {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1.5;
  font-size: 14px;
}

.cover-title {
  margin-bottom: .25em;
  font-family: var(--source-sans);
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  letter-spacing: -.015em;
}

.cover-list li {
  margin-right: 5px;
}

.cover-item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.cover-item svg {
  margin-right: 4px;
}

/* Site Wrapper */
#site-wrapper {
  margin: 50px auto;
  max-width: 1192px;
  padding: 0 20px;
}

#latest-news {
  width: 1152px;
  margin-bottom: 56px;
  padding-top: 24px;
}

.section-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 24px;
}

.section-title {
  margin-bottom: 24px;
  font-family: var(--source-sans);
  font-size: 28px;
  color: #f42;
  font-weight: 700;
  line-height: 1.1;
}

.section-list-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.section-list-item {
  font-size: 16px;
  margin-top: 10px;
  margin-right: 10px;
  padding-left: 10px;
}

.section-list-item:nth-child(2),
.section-list-item:nth-child(3) {
  border-left: 1px solid #f42;
}

.section-list-item a {
  color: #f42;
  text-decoration: none;
}

#latest-news-container {
  display: flex;
  flex: 0 1 auto;
  flex-flow: row wrap;
  margin: -12px;
}

.news-item {
  flex-basis: 25%;
  max-width: 25%;
  padding: 12px;
}

.item-content {
  width: 100%;
  height: 100%;
}

.item-img {
  background-color: #000;
  background-size: cover;
  background-position: 50%;
  height: 135px;
  width: 100%;
  display: block;
  margin-bottom: 8px;
  background-repeat: no-repeat;
  opacity: 1;
}

.item-h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.item-list {
  font-size: 13px;
  line-height: 20px;
  color: #aaa;
  padding-top: 4px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 200px;
}

/* Latest Deals */
#latest-deals {
  margin-bottom: 4em;
  display: block;
}

.latest-deals-container {
  margin: -12px -12px 56px;
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  flex-flow: row wrap;
}

.deals-item {
  position: relative;
  padding: 12px;
  overflow: hidden;
  min-height: 60px;
  flex-basis: 25%;
  max-width: 25%;
  height: 290px;
}


.d-item-header {
  position: relative;
  display: block;
}

.d-item-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 60px;
  margin: 11px;
  display: block;
}

.d-item-h4 {
  background-color: #f42;
  font-family: var(--source-sans);
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  padding: 11px 16px;
  padding-left: 84px;
}

.d-item-desc {
  font-family: var(--source-sans);
  font-weight: 700;
  line-height: 1;
  padding: 11px 16px;
  padding-left: 84px;
  color: #000;
  background-color: #FFEBE7;
}

.d-item-desc h4 {
  font-size: 18px;
  color: #000;
}

.d-item-desc h5 {
  color: #000;
  opacity: .5;
  font-family: var(--roboto-mono);
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .04em;
  line-height: 1.5;
}

.d-item-details {
  padding: 16px;
  display: block;
  background-color: #FFFAF8;
}

.d-item-market,
.d-item-investor {
  margin: 0 13px 6px 0;
  position: relative;
  font-size: 13px;
  color: #555;
  line-height: 22px;
  display: flex;
  align-items: center;
}

.d-item-market img,
.d-item-investor img {
  margin-right: 15px;
  width: 16px;
  height: 16px;
}

.d-item-byline {
  border-top: 1px solid rgba(255, 68, 34, .25);
  color: #555;
  padding: 10px 16px 16px;
  font-size: 12px;
  background-color: #FFFAF8;
  height: 100%;
}

.d-item-p {
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
}

.d-item-p span {
  color: #aaa;
}